[defaults]
inventory = pulsecheck_inventory.py
remote_user = devops
private_key_file = ~/.ssh/pulsecheck_key
host_key_checking = False
deprecation_warnings = False
vault_password_file = .vault_pass.txt
allow_world_readable_tmpfiles = True
[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
