[Unit]
Description=PulseCheck Flask application (gunicorn)
After=network.target

[Service]
User=devops
WorkingDirectory={{ app_dir }}

Environment="DB_HOST={{ hostvars[groups['db'][0]]['ansible_host'] }}"
Environment="DB_NAME=pulsecheck"
Environment="DB_USER=pulsecheck_app"
Environment="DB_PASSWORD=PulseCheckApp2024!"

ExecStart={{ app_dir }}/venv/bin/gunicorn --workers {{ gunicorn_workers }} --bind 0.0.0.0:{{ app_port }} app:app
Restart=always

[Install]
WantedBy=multi-user.target
